
@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  
  /* Section 3 */
  .section-3 {
    height: inherit;
    padding: 10vmin !important;
    background-image:linear-gradient(to bottom, #4b4847, #141010);
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }



  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}






